.App {
  text-align: center;
}

.total {
  padding: 20px 90px 0px 90px;
  margin-top: 50px;
  background: rgba(97, 217, 213, 0.5);
}
.App-intro {
  font-size: large;
}

.navMain {
  background: rgb(243, 149, 125);
  font-family: 'Oxygen', sans-serif;

}
.aboutNav {
  background: rgb(243, 149, 125);
  font-family: 'Oxygen', sans-serif;

}
.welp {
  background: turquoise
}

a {
  color: darkblue;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
