.App {
  text-align: center;
}

.total {
  padding: 20px 90px 0px 90px;
  margin-top: 50px;
  background: #C0FFED;
}
.App-intro {
  font-size: large;
}

.aboutNav {
  background: rgb(243, 149, 125);
  font-family: 'Oxygen', sans-serif;

}
.welp {
  background: turquoise
}

a {
  color: #0B5F39;
  text-decoration-style: none;
}

.navMain {
  background: #0294A8;
  font-family: 'Oxygen', sans-serif;
  color:  #0294A8;
}

.NavLink {
  color: #B3E2CC;
  text-decoration-style: none;
  font-size: 16px;
  padding: 5px 5px 5px 5px;
  display:inline-block;
}
.table {
  background: #8FDEBC
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
